/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

html { 
  background: url(../images/334285.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sca_logo
{
padding-left:15%; padding-top:35px; padding-right:25%; float:left;
}

body
{
}
header
{
height:80px;
width:100%;
padding-bottom:20px;
}

#ul
{
float:left;
}
.text_li
{
float:left;
list-style:none;
font-size:32px;
padding-top:50px;
color:#000;
padding:10px;
margin-top:58px;
border:#996699 solid 1px;
border-radius:20px;
color:#000;
}
.text_li2
{
float:left;
list-style:none;
font-size:32px;
padding-top:50px;
color:#000;
margin-left:2%;
padding:10px;
margin-top:58px;
border:#996699 solid 1px;
border-radius:20px;
color:#000;
}
.text_li a
{
text-decoration:none;
color:#000;
}
.text_li:hover
{
background-color:#FFFFFF;
border:#996699 solid 1px;
color:#000;
padding:10px;
cursor:pointer;
}

.text_li2:hover
{
background-color:#FFFFFF;
border:#996699 solid 1px;
color:#000;
padding:10px;
cursor:pointer;
}

.img
{
margin-left:20px;
}
.img_sca
{
border-radius:50%;
}
.img-sca
{
border-radius:50%; color:#FFFFFF;
}
.sroll2
{
text-align:center;
clear:both;
bottom:0px;
font-size:65px;
margin-top:50px;
padding-top:40px;
}
.sroll
{
text-align:center;
clear:both;
bottom:0px;
font-size:65px;
margin-top:50px
}
.icon2
{
color:#FFFFFF;
 opacity:0.5;
}
.icon2:hover
{
color:#006666;
}

.icon
{
 color:#000;
 opacity:0.5;
}
.sroll a
{
text-decoration:none;
}
.sroll2 a
{
text-decoration:none;
}
.icon:hover
{
color:#006666;
}

#what-is-sca
{
text-align:center;
padding-top:60px;
color:#FFFFFF;
height:700px; 
width:100%; 
background: url(../images/sca.jpeg) no-repeat center center fixed;  
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover;
 background-size: cover; 
 margin-top:760px;
}
#what-is-sca h1
{
font-size:46px;
font-weight:bold;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}
.what-is-sca-p
{
font-style:italic; font-size:20px; color:#CCCCCC;
}
#how-it-works
{
text-align:center;
height:auto; padding-bottom:25px; width:100%; background-color:#0B040B;
padding-top:40px;
}
#how-it-works h1
{
font-size:46px;
font-weight:bold;
color:#FFFFFF;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}
#how-it-works p
{
font-size:20px;
color:#CCCCCC;
}
.centre-line
{
height:150px; border-left:#999999 thick solid; margin-left:48.8%;
}
.who-can
{
float:left; color:#FFFFFF; text-align:right; padding-right:20px;
}
.how-can
{
float:left; padding-top:0px; color:#FFFFFF; text-align:left; padding-left:20px;
}


.sca
{
float:left;
margin:0px auto;
padding:70px 15%;
text-align:center;
height:250px;
width:70%;
}
.sca1
{
float:left;
height:450px;
width:33%;
text-align:center;
}
.sca1 h4
{
font-weight:bold;
font-size:24px;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}
.sca1 p
{
font-size:13px;
color:#FFFFFF;
font-family: 'Glegoo', serif;
}
.sca2
{
float:left;
text-align:center;
}
.sca3
{
float:left;
text-align:center;
}
#ui a
{
text-decoration:none;
}
.how
{
text-align:center;
height:auto;
margin:45px auto;
width:80%;
padding-bottom:50px;
}
.how1
{
height:150px;
margin-left:0 25px;
font-family: 'Glegoo', serif;
}
.how1 ul
{
text-align:right;
list-style-position:inside;
list-style:none;
}
.how1 ul li a
{
color:#006666;
text-decoration:none;
}
#get-involved
{
text-align:center;
padding-top:60px;
height:550px; 
padding-bottom:40px; 
width:100%;
clear:both;
background-color:#302A2D;
}
#get-involved h1
{
font-size:46px;
font-weight:bold;
color:#CCCCCC;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}

#get-involved h4
{
color:#FFFFFF;
text-decoration:underline;
font-size:20px;
}
#get-involved p
{
font-size:14px; font-family: 'Glegoo', serif;
color:#999999;
}

#social
{
text-align:center;
padding-top:36px;
width:100%; height:280px; background:#0B040B;
}
#social h1
{
font-size:36px;
font-weight:bold;
color:#CCCCCC;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}
#social p
{
font-size:18px;
color:#666666;
}
#add
{
font-size:14px; font-family: 'Glegoo', serif;
}


.get
{
float:left;
margin:0px auto;
padding:70px 15%;
text-align:center;
height:250px;
width:70%;
}
.get1
{
float:left;
height:450px;
width:33%;
text-align:center;
}
.get1 h4
{
font-weight:bold;
font-size:24px;
text-transform: uppercase;
font-family: 'Glegoo', serif;
}
#get_p
{
font-size:30px;
color:#FFFFFF;
font-family: 'Glegoo', serif;
}

#ex
{
p style="font-size:14px; font-family: 'Glegoo', serif;"
}

*
{
margin:0px;
padding:0px;
}
